@font-face {
	font-family: "Raleway Semi Bold";
	src: url("../block-fonts/Raleway-SemiBold.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Playfair Display Bold";
	src: url("../block-fonts/PlayfairDisplay-Bold.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Muller Thin";
	src: url("../block-fonts/Muller-Thin.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Raleway Extra Bold";
	src: url("../block-fonts/Raleway-ExtraBold.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Raleway Light";
	src: url("../block-fonts/Raleway-Light.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Raleway Regular";
	src: url("../block-fonts/Raleway-Regular.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Playfair Display Regular";
	src: url("../block-fonts/PlayfairDisplay-Regular.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Raleway Medium";
	src: url("../block-fonts/Raleway-Medium.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Raleway Bold";
	src: url("../block-fonts/Raleway-Bold.ttf");
	font-weight: normal;
}
