// Общее переменные
$menuBgcolor: #112537;
$universalColorwhite: #fff;

// Main screen
$burgerFont: "Raleway Semi Bold";
$burgerFontcolor: #f3f4f4;
$burgerHovercolor: #f8a25a;
$headerTitlefont: "Playfair Display Bold";
$headerTextfont: "Muller Thin";
$headerBtnfont: "Raleway Extra Bold";
$headerContactcolor: #777572;

// Features Block
$featuresNumcolor: #fde5d0;
$featuresNumfont: "Playfair Display Bold";
$featuresTitlefont: "Raleway Semi Bold";
$featuresTitlecolor: #1a292f;
$featuresTextfont: "Raleway Light";
$featuresTextcolor: #838383;

// Portfolio
$portfolioTitlefont: "Playfair Display Bold";
$portfolioTitlecolor: #00203a;
$portfolioTextfont: "Raleway Semi Bold";
$portfolioTextcolor: #bababa;
$portfolioTextfonts: "Raleway Regular";

// Uslugi block
$uslugiHeadingfont: "Playfair Display Bold";
$uslugiHeadingcolor: #00203a;
$uslugiListfont: "Raleway Light";
$uslugiListcolor: #7d7d7d;
$uslugiBtnfont: "Raleway Extra Bold";
$uslugiTitlefont: "Playfair Display Regular";
$uslugiNumfonts: "Raleway Regular";

// Video
$videoTextfonts: "Raleway Regular";
$videoIconcolor: #f5b77f;

// Etapy blok
$etapyTitlefont: "Raleway Semi Bold";
$etapyTitlecolor: #313131;
$etapySubfont: "Raleway Light";
$etapySubcolor: #858482;
$etapyTitleline: #182c3d;
$etapyBgcolor: #fdfaf3;
$etapyNumbgcolor: #fde5d1;
$etapyNumfont: "Raleway Medium";
$etapyNumcolor: #00203a;

// Form block

$formTitlefont: "Playfair Display Bold";
$formSubfont: "Raleway Regular";
$formPlacefont: "Raleway Light";
$fontPlacecolor: #a3a7ac;
$formLinecolor: #bcb1a7;
$fontButtoncolor: #f8a25a;
$formButtonfont: "Raleway Extra Bold";
$formContentcolor: #182c3d;

// Testimonials block
$testimonialsBgcolor: #fdfaf3;
$testimonilasTitlecolor: #313131;
$testimonialsTitlefont: "Raleway Semi Bold";
$testimonialSubitlefont: "Raleway Bold";
$testimonialSubitlecolor: #efb172;
$testimonialTextcolor: #5e5e5e;
$testimonialTextfont: "Raleway Light";

// Footer
$footerBgcolor: #182c3d;
$footerCoprcolor: #ffc487;
$footerTextfontfont: "Raleway Medium";
